Q-17. Write an SQL query to show the top n (say 10) records of a table.

ANS SELECT * FROM Worker LIMIT 10;

Q-18. Write an SQL query to determine the nth (say n=5) highest salary from a table.

Ans: SELECT DISTINCT(Salary) FROM Worker ORDER BY DESC LIMIT 1 OFFSET 5;